<h1>常见问题集合</h1>

工会图书由以下七个人管理:
<ul>
  <li>service1 - <%= link_to "Xiong, Li", user_path(:id => 13415) %></li>
  <li>service2 - <%= link_to "Zang, Lan", user_path(:id => 13416) %></li>
  <li>service3 - <%= link_to "Zhou, Su Mei", user_path(:id => 13417) %></li>
  <li>service4 - <%= link_to "Wang, Xin Rong", user_path(:id => 13418) %></li>
  <li>service5 - <%= link_to "Mei, Zhao Hui", user_path(:id => 13419) %></li>
  <li>service6 - <%= link_to "Zhou, Rong", user_path(:id => 13430) %></li>
  <li>service7 - <%= link_to "Dou, Rong Rong", user_path(:id => 13431) %></li>
</ul>

借阅规则：
<ul>
  <li>每人最多借两本，每本限期60天。逾期会有邮件提醒。</li>
  <li>在网页上点击“借阅”之后，会有邮件通知。之后请借阅者与图书的owner联系取书。 </li>
  <li> 图书归还之后，请图书的owner“确认归还”。确认之后会有邮件提醒。</li>
</ul>

图书分享：
<ul>
  <li> 本系统采用分布式，P2P图书管理办法。图书的来源有两个：1. 公司和工会购买 和 2.员工分享 </li>
  <li>      公司和工会的书分布在多位管理员手中； </li>
  <li>      同事分享给别人借阅的图书，登记在我们系统中之后就可以供别人借阅。书可以放在家里或者公司，一旦有人借阅会收到邮件通知。 </li>
</ul>
 
